@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary:#222;
  --secondary:#ffffff;
  --complementary:#ffeb3b;

  --footer-bg:var(--primary);
  --nav-bg:var(--primary);
  --text-light:var(--secondary);
  --text-dark:var(--primary);
  --button-hover-yellow:#f2df38;
  --button-hover-dark:#434343;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
